#roci__coffee {
  height: 100%;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(white, #eeeeee);
  overflow: hidden;
}

#roci__coffee .row {
  margin-left: 0;
  margin-right: 0;
}
