#dev__file-browser--mao .right {

}

#dev__file-browser--mao .right-item {
  height: 65px;
  width: 100%;
  border: 1px solid rgba(255,255,255, 0.6);
  padding: 10px 30px;
}

#dev__file-browser--mao .right-item--first {
  border-radius: 50px;
  border-bottom-left-radius: 0;
}

#dev__file-browser--mao .right-item--separator {
  margin: 5px 0;
  height: 3px;
  width: 100%;
  background-color: rgba(255,255,255, 0.6);
}

#dev__file-browser--mao .right-item--bulk {
  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#dev__file-browser--mao .right-item--last {
  border-radius: 50px;
  border-top-left-radius: 0;
}

#dev__file-browser--mao .green-bg {
  background: linear-gradient(
    127deg,
    rgba(42,98,61,.8),
    rgba(105,145,119,.8),
    rgba(42,98,61,.8)
    );
}

#dev__file-browser--mao .mustard-bg {
  background: linear-gradient(
    120deg,
    rgba(195,173,83,0.8),
    rgba(219,205,151,0.8) 20%,
    rgba(195,173,83,0.8)
    );
}

#dev__file-browser--mao .blue-bg {
  background: linear-gradient(
    127deg,
    rgba(23,115,141,0.8) 40%,
    rgba(115,171,186,0.8),
    rgba(23,115,141,0.8)
    );
}
